{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<script src="https://kit.fontawesome.com/6ddde329a5.js" crossorigin="anonymous"></script>

	<div>
		<h1 class="text-center">Bienvenue dans le coin des administrateurs</h1>
		<img class="w-100 h-100" src="/assets/images/boy.jpg" alt="maison hobit">
	</div>

{% endblock %}
