{% block stylesheets %} {% endblock %}
<section data-bs-version="5.1" class="footer3 cid-sFCygHrmNf" once="footers" id="footer3-24">
	<div class="container">
		<div class="row align-center mbr-white">
			<div class="row row-links mb-3">
				<ul class="foot-menu">
					<li class="foot-menu-item mbr-fonts-style display-8">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-8">
								<strong>Téléphone</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style">+33 6.28.26.88.69</p>
						</div>
					</li>
					<li class="foot-menu-item mbr-fonts-style display-8">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-8">
								<strong>Email</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style">
								alain.asselin@laposte.net
							</p>
						</div>
					</li>
					<li class="foot-menu-item mbr-fonts-style display-8">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-8">
								<strong>Addresse</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style">
								19 rue de Larcay - 37550 - Saint Averin
							</p>
						</div>
					</li>
					<li class="foot-menu-item mbr-fonts-style display-8">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-bulleted-list mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-8">
								<strong>Nos horaires</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style">9:00 - 18:00</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="row social-row">
				<div class="social-list align-right pb-2">
					<div class="soc-item">
						<a href="https://twitter.com" target="_blank">
							<span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
						</a>
					</div>
					<div class="soc-item">
						<a href="https://www.facebook.com" target="_blank">
							<span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
						</a>
					</div>
					<div class="soc-item">
						<a href="https://www.youtube.com" target="_blank">
							<span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
						</a>
					</div>
					<div class="soc-item">
						<a href="https://www.instagram.com" target="_blank">
							<span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% block javascripts %}	{% endblock %}