<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="/assets/animatecss/animate.css">
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/dropdown/css/style.css">
		<link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css">
		<link rel="stylesheet" href="/assets/socicon/css/styles.css">
		<link rel="stylesheet" href="/assets/theme/css/style.css">
		<link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
		<link rel="stylesheet" href="/assets/bootstrap/css/MyCSS.css">


	</head>
	<body>

		{% include "header/index.html.twig" %}
		{% block body %}{% endblock %}

		
		<div class="container" id="flash-messages">
		<div class="messages-container">
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger centered" role="alert">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('success') %}
				<div class="alert alert-success centered" role="alert">{{ message }}</div>
			{% endfor %}
		</div>
	</div>

		{% include "footer/index.html.twig" %}

		{% block javascripts %}{% endblock %}
		{# {{ encore_entry_script_tags('app') }} #}
		<script src="/assets/bootstrap.js"></script>
		<script src="/assets/app.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/controllers/hello_controller.js"></script>
		<script src="/assets/dropdown/js/navbar-dropdown.js"></script>
		<script src="/assets/embla/embla.min.js"></script>
		<script src="/assets/embla/script.js"></script>
		<script src="/assets/formoid/formoid.min.js"></script>
		<script src="/assets/smoothscroll/smooth-scroll.js"></script>
		<script src="/assets/sociallikes/social-likes.js"></script>
		<script src="/assets/theme/js/script.js"></script>
		<script src="/assets/ytplayer/index.js"></script>

		<script src="https://kit.fontawesome.com/6ddde329a5.js" crossorigin="anonymous"></script>


	</body>
</html>
